* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/******** NAVBAR ********/  
  
header {
    background-color: #5C164E;
    position: sticky;
    top: 0;
    z-index: 10;
}

header,
#navbar-container {
    height: 100px;
}

#navbar-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto 0;
    max-width: 1440px;
    padding: 10px;
}

#brand {
    font-size: 36px;
    font-weight: bold;
    margin: auto;
}

#toggle-button {
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 40px;
    position: absolute;
    top: 30px;
    width: 40px;
}



#toggle-button span {
    color: black;
    font-size: 28px;
    left: 10px;
    text-align: center;
    width: 40px;
}

#menu {
    background-color: #5C164E;
    left: -100%;
    padding: 10px;
    position: absolute;
    top: 100px;
    transition: left .5s;
    width: 100%;
}

#menu.active {
    left: 0;
}

#menu ul li {
    display: flex;
    margin: 20px 0 20px;
}

#brand,
#menu ul li a {
    color: black;
    text-decoration: none;
}

#menu ul li a {
    font-size: 18px;
    margin: 0 auto 0;
}

#menu ul li a:hover,
#navbar-button:hover {
    font-size: 19px;
    font-weight: bold;
}

#navbar-button {
    background-color: #9B287B;
    border: none;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    width: 157px;
}

/******** END NAVBAR ********/   

/******** PURPOSE ********/  
#purpose{
    margin: 40px auto 40px;
}

.title-section {
    text-align: center;
    font-size: 36px;
    margin: 2vw;
}

.container-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.single-box{
    max-width: 35vw;
}

.purpose-txt{
    font-size: 2.5vw;
}

/******** END PURPOSE ********/   

/******** HERO PAGE ********/
.hero-page{
    width: 100%;
    height: 495px;
    background-image: url(images/evento.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto 0 auto;
}  

.info-app{
    position:relative;
    width:100%;
    height: 100%;
    background-color:transparent;
}

.text-initial{
    background-color:#ffffff00;
    color: white;
    height:400px;
    width:400px;
    position:relative;
    z-index: 2;
    top: 11%;
    left: 6%;
    display: flex;
    margin: auto 0 auto;
    size: 200px;
}

.text-initial > p {
    background-color:transparent;
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 55px;
}

@media (max-width:675px){
    .hero-page {
        height: 25pc;
    }
    
    .info-app{
        position:static;
        display: flex;
        height: left;
        width: 100%;    
    }

    .text-initial{
        position: static;
        margin: auto auto 20px ;
        height: 121px;
        width: 90%;
    }

    .text-initial > p{
        font-size: 24px;
    }
}

@media (max-width:320px){
    .hero-page {
        height: 33pc;
    }
}
/******** END HERO PAGE ********/

/******** SERVICES ********/  

.services{
    text-align: center;
    padding: 40px 0;
    color: #434343;
    background: #f1f1f1;
}

.inner-service{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.row-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-service{
    flex: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 15px;
}

.service {
    background: #9B297B;
    padding: 30px;
}

.services img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.service-title{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

/******** END SERVICES ********/ 


/******** US ********/
.container-about-us {
    padding: 30px;
}

.about-us{
    background-color:white;
    height: auto;
    width:100%;
    align-items: initial;
    justify-content:center;
    display:flex;
    text-align:center;
}

.about-us-item{
    width: 32%;
    height: 65%;
    justify-content: center;
    text-align:center;
    background-color: transparent;
    color:black;
}

.title-about-us {
    text-align: center;
    font-size: 55px;
    font-weight: bold;
}

.about-us-item ul {
    margin-top: 10%;
    text-align: left;
    font-size: 22px;
    background-color: transparent;
}

.about-us-item p {
    font-size: 24px;
    background-color: transparent; 
}

.line-about {
    height: 65%;
    width: 4px;
    background-color:white;
    margin-right: 3%;
    margin-left: 3%;
}
/******** END US *********/

/******** ABOUT THE TEAM *********/
#about-the-team {
    margin-bottom: 20px;
    margin-top: 20px;
}

#title-about-the-team {
    font-size: 55px;
    margin-bottom: 20px;
}

.d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
/******** END ABOUT THE TEAM *********/

@media (max-width:1261px) {
    .about-us-item ul {
        margin-top: none;
    }

    .about-us{
        padding-top: 5%;
    }
}

@media (max-width:997px){
    .about-us-item p {
        font-size: 22px;
    }
}

@media (max-width:843px){
    .about-us-item p {
        font-size: 18px;
    }

    .about-us {
        height: 400px;
    }
}

@media (max-width:725px){
    .about-us{
        height: auto;
        width: 100%;
        display: block !important;
    }
    
    .title-about-us {
        font-size: 36px;
    }

    .about-us ul {
        margin-bottom: 8%;
    }

    .about-us-item{
        width: 100%;
        padding: 0% 10%;
        margin: 0% 0%;
    }

    .line-about{
        margin-left: 10%;
        width: 80%;
        height: 4px;
    }
}
/******** END US ********/

/**************** footer *********************/
footer {
    background: #5C164E;
    width: 100%;
    height: 250px;
}

.container-body {
    max-width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
}

.column1 {
    max-width: 600px;

}

.column1 h1 {
    font-size: 36px;

}

.column1 p {
    font-size: 18px;

}

.column2 {
    max-width: 600px;

}

.column2 p {
    font-size: 18px;
}

.icons {
    width:361.17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon img {
    width: 64.95px;
    height: 63.27px;
}
/**************** end footer *********************/

@media (min-width: 576px) {
    /******** PURPOSE ********/          
    .purpose-box{
        padding: 0 0px 0px;
    }
    /******** END PURPOSE ********/

    /**************** footer *********************/
    .container-body {
        margin: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .icons {
        width:425.36px;
    }

    .icon img {
        width: 76.34px;
        height: 76.34px;
    }

    .column2 p {
        font-size: 24px;
    }

    .column1 h1 {
        font-size: 55px;
    }
    /**************** end footer *********************/
}

@media (min-width: 768px) {
    /******** PURPOSE ********/   
    .title-section {
        font-size: 55px;
    }   

    .purpose-box{
        padding: 0 20px 20px;
    }
    /******** END PURPOSE ********/
   
    /******** SERVICES ********/  
    .col-service{
        flex: 33.33%;
        max-width: 33.33%;
    }
    /******** END SERVICES ********/
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    /******** NAVBAR ********/ 
    #toggle-button {
        display: none;
    }

    #brand {
        font-size: 55px;
    }

    #brand, 
    #menu {
        margin: auto 0 auto;
    }

    #menu,
    #menu.active {
        left: auto;
        margin-left: auto;
        position: relative;
        top: auto;
        transition: none;
        width: auto;
    }
    #menu ul li {
        display: inline;
        margin-left: 30px;
    }

    #menu ul li a {
        font-size: 24px;
    }

    #navbar-button {
        font-size: 24px;
    }

    #menu ul li a:hover,
    #navbar-button:hover {
        font-size: 25px;
    }
    /******** END NAVBAR ********/
   

}
